#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  background-color: var(--background-page);
  padding: 2rem;
  max-width: 1280px;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {} */
